@use "../_config.scss" as *;
.container {
  padding: 0 !important;
  @media (max-width: 990px) {
    padding: 0 1rem !important;
  }
  mark {
    background-color: yellow;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}
.blog {
  padding: 9vw 0 9vw 0;
  &__side {
    padding-left: 50px !important;
    @media (max-width: 990px) {
      padding: 1rem !important;
    }
  }
  &__search-wrapper {
    padding-bottom: 5vw;
  }
  &__title {
    font-family: $font-primary;
    font-size: $font-h3;
    line-height: $line-h3;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing-default;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    @media (max-width: 990px) {
      font-size: 24px;
    }
  }
  &__form {
    width: 100%;
  }
  &__search-input {
    width: 100%;
    padding: 1rem 2rem;
    border: solid 1px $color-gray-300;
    &:active {
      border: solid 1px $color-black;
    }
  }
  &__category-wrapper {
    padding-bottom: 5vw;
  }
  &__list {
    padding: 0;
    list-style: none;
  }
  &__list-link {
    display: inline-block;
    width: 100%;
    font-family: $font-secondary;
    font-size: $font-l24;
    line-height: $line-l24;
    font-weight: $font-weight-regular;
    letter-spacing: 0;
    align-items: center;
    color: $color-black;
    text-decoration: none;
    padding: 10px 0 20px 0;
    border-bottom: solid 1px $color-gray-200;
    transition: 0.5s;
    &:hover {
      color: $color-primary;
      padding-left: 8px;
    }
    @media (max-width: 990px) {
      font-size: 16px;
    }
  }
  &__tags-area {
    display: flex;
    flex-wrap: wrap;
    // width: 100%;
    gap: 12px;
  }
  &__tags-btn {
    cursor: pointer;
    padding: 13px 26px;
    border-radius: 50px;
    background-color: $color-gray-100;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      background-color: $color-primary;
      .blog__tags-btntxt {
        color: $color-white;
      }
    }
  }
  &__tags-btntxt {
    font-family: $font-secondary;
    font-size: $font-p20;
    line-height: $line-p20;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing-default;
    color: $color-gray-300;
    transition: color 0.5s ease;
    @media (max-width: 990px) {
      font-size: 16px;
    }
  }
  &__latest-wrapper {
    padding-bottom: 5vw;
  }
  &__latest-card {
    display: flex;
    // width: 100%;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &__latest-img {
    width: 7vw;
    height: auto;
    object-fit: cover;
    @media (max-width: 990px) {
      width: 30vw;
    }
  }
  &__latest-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__latest-title a {
    font-family: $font-primary;
    font-size: $font-h5;
    line-height: $line-h5;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing-default;
    color: $color-gray-400;
    text-transform: uppercase;
    transition: 0.5s ease;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
    @media (max-width: 990px) {
      font-size: 20px;
    }
  }
  &__latest-date-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__latest-date {
    font-family: $font-secondary;
    font-size: $font-l20;
    line-height: $line-l20;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing-default;
    color: $color-gray-400;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
    @media (max-width: 990px) {
      font-size: 20px;
    }
  }
  &__pagination {
    margin-top: 130px;
    gap: 10px;
    justify-content: left;
  }
  .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: $color-white;
    border: solid 1px $color-gray-200;
    transition: 0.5s;
    text-decoration: none;
    color: $color-black;
    &:hover {
      background-color: $color-primary;
      border: 1px solid $color-primary;
      color: $color-white;
    }
    &.current {
      background-color: $color-primary;
      border: 1px solid $color-primary;
      color: $color-white;
      // .portfolio__page-link,
      // path {
      //   color: $color-white;
      //   stroke: $color-white;
      // }
    }
    &.disabled {
      pointer-events: none;
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}
