.container {
  padding: 0 !important;
}
@media (max-width: 990px) {
  .container {
    padding: 0 1rem !important;
  }
}
.container mark {
  background-color: yellow;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.blog {
  padding: 9vw 0 9vw 0;
}
.blog__side {
  padding-left: 50px !important;
}
@media (max-width: 990px) {
  .blog__side {
    padding: 1rem !important;
  }
}
.blog__search-wrapper {
  padding-bottom: 5vw;
}
.blog__title {
  font-family: "Jaapokki", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}
@media (max-width: 990px) {
  .blog__title {
    font-size: 24px;
  }
}
.blog__form {
  width: 100%;
}
.blog__search-input {
  width: 100%;
  padding: 1rem 2rem;
  border: solid 1px #6a6a6a;
}
.blog__search-input:active {
  border: solid 1px #000000;
}
.blog__category-wrapper {
  padding-bottom: 5vw;
}
.blog__list {
  padding: 0;
  list-style: none;
}
.blog__list-link {
  display: inline-block;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  align-items: center;
  color: #000000;
  text-decoration: none;
  padding: 10px 0 20px 0;
  border-bottom: solid 1px #dedede;
  transition: 0.5s;
}
.blog__list-link:hover {
  color: #ee3b24;
  padding-left: 8px;
}
@media (max-width: 990px) {
  .blog__list-link {
    font-size: 16px;
  }
}
.blog__tags-area {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.blog__tags-btn {
  cursor: pointer;
  padding: 13px 26px;
  border-radius: 50px;
  background-color: #f5f5f5;
  text-decoration: none;
  transition: 0.5s;
}
.blog__tags-btn:hover {
  background-color: #ee3b24;
}
.blog__tags-btn:hover .blog__tags-btntxt {
  color: #ffffff;
}
.blog__tags-btntxt {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #6a6a6a;
  transition: color 0.5s ease;
}
@media (max-width: 990px) {
  .blog__tags-btntxt {
    font-size: 16px;
  }
}
.blog__latest-wrapper {
  padding-bottom: 5vw;
}
.blog__latest-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.blog__latest-img {
  width: 7vw;
  height: auto;
  object-fit: cover;
}
@media (max-width: 990px) {
  .blog__latest-img {
    width: 30vw;
  }
}
.blog__latest-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog__latest-title a {
  font-family: "Jaapokki", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #323232;
  text-transform: uppercase;
  transition: 0.5s ease;
  text-decoration: none;
  cursor: pointer;
}
.blog__latest-title a:hover {
  color: #ee3b24;
}
@media (max-width: 990px) {
  .blog__latest-title a {
    font-size: 20px;
  }
}
.blog__latest-date-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.blog__latest-date {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #323232;
  transition: 0.5s;
  cursor: pointer;
}
.blog__latest-date:hover {
  color: #ee3b24;
}
@media (max-width: 990px) {
  .blog__latest-date {
    font-size: 20px;
  }
}
.blog__pagination {
  margin-top: 130px;
  gap: 10px;
  justify-content: left;
}
.blog .page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #dedede;
  transition: 0.5s;
  text-decoration: none;
  color: #000000;
}
.blog .page-numbers:hover {
  background-color: #ee3b24;
  border: 1px solid #ee3b24;
  color: #ffffff;
}
.blog .page-numbers.current {
  background-color: #ee3b24;
  border: 1px solid #ee3b24;
  color: #ffffff;
}
.blog .page-numbers.disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: not-allowed;
}

/*# sourceMappingURL=blog.css.map */
